* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

html {
  max-width: 1920px;
  max-height: 1040px;
  margin: auto;
}

a {
  text-decoration: none;
  color: black;
}

.logo,
.title {
  font-family: "Shrikhand", cursive;
}

@keyframes fade-in-bottom {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.menu__transformation-1 {
  animation: fade-in-bottom 1s ease-in-out both;
  animation-delay: 0.15s;
}
.menu__transformation-2 {
  animation: fade-in-bottom 1s ease-in-out both;
  animation-delay: 0.3s;
}
.menu__transformation-3 {
  animation: fade-in-bottom 1s ease-in-out both;
  animation-delay: 0.45s;
}
.menu__transformation-4 {
  animation: fade-in-bottom 1s ease-in-out both;
  animation-delay: 0.6s;
}

.container {
  position: relative;
  display: flex;
  margin-left: 86%;
  margin-top: -53px;
  z-index: 3;
}
.container--menu {
  margin-right: 16%;
  margin-top: 5px;
  margin-left: unset;
}
@media (min-width: 991px) {
  .container--menu {
    margin-right: 20%;
  }
}

.fa-heart-solid {
  opacity: 0;
  transition-duration: 0.5s;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da)); /*ON DEFINI UN BACKGROUND*/
  -webkit-background-clip: text; /*ON MET LE BACKGROUND SUR LE TEXTE*/
  -webkit-text-fill-color: transparent; /*POUR QUE LE BACKGROUND S'AFFICHE SUR LE TEXTE ON REND LE TEXTE TRANSPARENT*/
}

.container > .fa-heart {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  width: 20px;
  height: 20px;
  z-index: 3;
}

.fa-heart {
  font-size: 26px;
}

/*QUAND LA CHECKBOX EST CHECK*/
input:checked ~ .fa-heart-regular {
  transition-duration: 0.5s;
  opacity: 0;
}

/*QUAND LA CHECKBOX EST CHECK*/
input:checked ~ .fa-heart-solid {
  transition-duration: 0.5s;
  opacity: 1;
}

#container {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader {
  animation-name: blank;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes blank {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0.1%;
  }
  80% {
    opacity: 0.8%;
  }
  100% {
    opacity: 1;
  }
}
@keyframes animation {
  0% {
    stroke-dasharray: 1 98;
    stroke-dashoffset: -105;
    opacity: 1;
  }
  50% {
    stroke-dasharray: 80 10;
    stroke-dashoffset: -160;
    opacity: 0.75;
  }
  100% {
    stroke-dasharray: 1 98;
    stroke-dashoffset: -300;
    opacity: 0;
    display: none;
  }
}
#spinner {
  transform-origin: center;
  animation-name: animation;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  fill: transparent;
  stroke: #ff79da;
  stroke-width: 7px;
  stroke-linecap: round;
  filter: url(#shadow);
}

.teste {
  background-color: #99e2d0;
  width: 0;
  height: 117%;
  margin-top: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 0px 17px 17px 0px;
}

.card:hover .slide-left {
  animation: slide-left 0.5s ease-in-out both;
}

.card:hover .rotate-center {
  animation: rotate-center 0.6s ease-in-out both;
}

.card:not(:hover) .slide-right {
  animation: slide-right 0.5s ease-in-out both;
}

.check {
  font-size: 26px;
}

@keyframes slide-right {
  0% {
    width: 20%;
  }
  100% {
    width: 0%;
  }
}
@keyframes slide-left {
  0% {
    width: 0%;
  }
  100% {
    width: 20%;
  }
}
@keyframes rotate-center {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.presentation__btn {
  background: linear-gradient(to bottom right, #ff79da 0%, #9356dc);
  border: none;
  border-radius: 25px;
  margin-top: unset;
  margin-bottom: unset;
  font-size: 16px;
  width: 216px;
  height: 51px;
  color: #fff;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.3);
}
.presentation__btn--commande {
  width: 187px;
  margin-top: 41px;
}
.presentation__btn:hover {
  filter: brightness(115%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 62px;
}
.header--page-menu {
  justify-content: space-evenly;
  margin-right: 15%;
}
@media (min-width: 991px) {
  .header--page-menu {
    margin-right: 20%;
  }
}
.header__logo {
  flex: 100%;
  height: 28px;
}
.header__arrow {
  display: flex;
  align-items: center;
}

.localisation {
  box-shadow: inset 0 7px 9px -7px rgba(0, 0, 0, 0.4);
  background-color: rgb(234, 234, 234);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.localisation__place {
  padding-left: 5%;
  font-weight: bold;
  font-size: 16px;
}

.footer {
  background-color: #353535;
  height: 197px;
  color: #fff;
}
.footer__logo {
  font-family: "Shrikhand", sans-serif;
  padding-top: 27px;
  margin-left: 7%;
  font-size: 18px;
}
.footer__flex {
  display: flex;
  justify-content: center;
}
.footer__tab {
  display: flex;
  width: 85%;
  list-style-type: none;
  flex-direction: column;
  justify-content: space-between;
  height: 118px;
  padding-top: 20px;
}
.footer__tab__link {
  text-decoration: none;
  color: #fff;
}
.footer__link {
  color: #fff;
}
.footer__image {
  width: 15px;
  margin-right: 5px;
}

.presentation {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 287px;
  text-align: center;
  padding-bottom: 36px;
  padding-top: 21px;
}
.presentation__title {
  margin-top: unset;
  margin-bottom: unset;
  width: 75%;
  font-size: 26px;
}
.presentation__text {
  margin-top: unset;
  margin-bottom: unset;
  width: 86%;
  font-size: 18px;
}

.info {
  height: 393px;
}
.info__title {
  margin-top: 48px;
  margin-left: 5%;
  font-size: 27px;
}
.info__flex {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
  height: 332px;
}
.info__card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  border-radius: 18px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.3);
  border: none;
  padding-right: 20%;
  background-color: #f6f6f6;
  height: 62px;
}
.info__card:hover {
  background-color: #f5edff;
}
.info__card:hover .info__image {
  color: #9356dc;
}
.info__image {
  color: gray;
}
.info__number {
  margin-left: -10px;
  background-color: #9356dc;
  border-radius: 10px;
  padding-left: 6px;
  padding-right: 7px;
  padding-top: 3px;
  color: #fff;
}
.info__text {
  font-size: 15px;
  font-weight: 600;
}

.restaurant {
  background-color: #f6f6f6;
  height: 1226px;
}
@media (min-width: 991px) {
  .restaurant {
    height: 878px;
  }
}
.restaurant__title {
  margin-left: 5%;
  padding-top: 52px;
}
.restaurant__flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 1100px;
  padding-top: 21px;
}
@media (min-width: 991px) {
  .restaurant__flex {
    height: 698px;
    flex-direction: column;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
  }
}
.restaurant__card {
  width: 338px;
  background-color: white;
  padding: 0.5%;
  border-radius: 20px;
  height: 252px;
  box-shadow: 0 0 10px #f2f2f2;
}
.restaurant__conteneur-image {
  height: 174px;
  position: relative;
  overflow: hidden;
  border-radius: 15px 15px 0px 0px;
}
.restaurant__image {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition-duration: 0.3s;
  transition-timing-function: ease;
}
.restaurant__conteneur-text {
  padding: 5%;
  display: flex;
  justify-content: space-between;
}
.restaurant__text {
  display: flex;
  flex-flow: wrap column;
}
.restaurant__heart {
  padding-top: 15px;
}
.restaurant__place {
  margin-top: 0.5%;
  margin-bottom: 0.5%;
}

.background__image {
  width: 100%;
  z-index: 1;
  position: relative;
}
@media (min-width: 767px) {
  .background__image {
    height: 500px;
  }
}

.menu {
  background-color: #f6f6f6;
  height: 1196px;
  z-index: 2;
  border-radius: 35px 35px 0px 0px;
  position: relative;
  margin-top: -33px;
}
@media (min-width: 991px) {
  .menu {
    height: 1336px;
  }
}
.menu--height {
  height: 1274px;
}
@media (min-width: 991px) {
  .menu--height {
    height: 1336px;
  }
}
.menu__title {
  padding-top: 36px;
  margin-left: 6%;
  font-weight: unset;
  font-size: 27px;
}
@media (min-width: 991px) {
  .menu__title {
    margin-left: 16%;
  }
}
.menu__contener-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu__heart {
  margin-top: 33px;
  margin-right: 37px;
}

.starter__second-title {
  margin-top: 36px;
  margin-left: 5%;
}
@media (min-width: 991px) {
  .starter__second-title {
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
  }
}
.starter__seconde-title--secondary {
  margin-top: 29px;
}
.starter__flex {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 10px;
  height: 253px;
}
@media (min-width: 991px) {
  .starter__flex {
    height: 300px;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }
}
.starter__flex--secondary {
  margin-top: 16px;
}
.starter__flex--tertiary {
  margin-top: 12px;
}
.starter__flex--more {
  height: 334px;
}

.card {
  height: 71px;
  margin-left: 4%;
  margin-right: 3%;
  border-radius: 17px;
  display: flex;
  padding-top: 10px;
  padding-left: 8px;
  justify-content: space-between;
  text-align: left;
  background-color: #fff;
  border: unset;
  box-shadow: 0px 0px 14px -6px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
.card__contener {
  display: flex;
  flex-direction: column;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 82%;
}
.card__title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.card__text {
  margin-top: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.card__price {
  margin-top: 27px;
  margin-right: 19px;
  font-weight: 700;
}

.commande {
  display: flex;
  justify-content: center;
}

/*! normalize.css v8.0.1 | MIT License */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

/*# sourceMappingURL=style.css.map */
