@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/extensions";
@import "./base/base";
@import "./base/typography";
@import "./components/buttons";
@import "./layouts/header";
@import "./layouts/nav";
@import "./layouts/container";
@import "./layouts/footer";
@import "./pages/work";
@import "./pages/home";
@import "./pages/project";

.form {

    padding-bottom: 1.5rem; }
    .form__heading {
     color: #fff;
     text-shadow: 0.55rem 0.55rem #11af82;

     padding: 1.5rem; }