@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,900");

*{
  font-family: 'Montserrat';
}
html, body{
  height: 100%;
  overflow: hidden;
  margin: 0;
}

.container{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: auto;
  z-index: 3
}

.fa-solid{
  opacity: 0;
  transition-duration: 0.5s;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));/*ON DEFINI UN BACKGROUND*/
  -webkit-background-clip: text;/*ON MET LE BACKGROUND SUR LE TEXTE*/
  -webkit-text-fill-color: transparent;/*POUR QUE LE BACKGROUND S'AFFICHE SUR LE TEXTE ON REND LE TEXTE TRANSPARENT*/
}

div>i{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

input{
  position: absolute;
  width: 10rem;
  height: 10rem;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.fa-heart{
  font-size: 10rem;
}

/*QUAND LA CHECKBOX EST CHECK*/
input:checked ~ .fa-regular {
  transition-duration: 0.5s;
  opacity: 0;
}

/*QUAND LA CHECKBOX EST CHECK*/
input:checked ~ .fa-solid{
  transition-duration: 0.5s;
  opacity: 1;
}
/*QUAND LA SOURIS PASSE AU DESSUS*/
/*
input:hover ~ .fa-regular {
  transition-duration: 0.5s;
  opacity: 0;
}
*/
/*QUAND LA SOURIS PASSE AU DESSUS*/
/*
input:hover ~ .fa-solid{
  transition-duration: 0.5s;
  opacity: 1;
}
*/
