 @keyframes fade-in-bottom {
    0% {
      transform: translateY(10px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

.menu__transformation{
$number_menu: 4;
  @for $i from 1 through $number_menu { 
    &-#{$i} { 
      animation: fade-in-bottom 1s ease-in-out both;
      animation-delay: $i * 0.15s;
    }
  }
}

