 @keyframes fade-in-bottom {
    0% {
      transform: translateY(10px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

.menu__transformation{
$number_menu: 4;
  @for $i from 1 through $number_menu { 
    &-#{$i} { 
      animation: fade-in-bottom 1s ease-in-out both;
      animation-delay: $i * 0.15s;
    }
  }
}


.container{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  z-index: 3;
  &--menu{
    margin-right: 9%;
    margin-top: 30px;
  }
}

.fa-heart-solid{
  opacity: 0;
  transition-duration: 0.5s;
  background: -webkit-gradient(linear, left top, left bottom, from($colour-primary), to($colour-secondary));/*ON DEFINI UN BACKGROUND*/
  -webkit-background-clip: text;/*ON MET LE BACKGROUND SUR LE TEXTE*/
  -webkit-text-fill-color: transparent;/*POUR QUE LE BACKGROUND S'AFFICHE SUR LE TEXTE ON REND LE TEXTE TRANSPARENT*/
}

.container>.fa-heart{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

input{
  position: absolute;
  opacity: 0;
  cursor: pointer;
  width: 20px;
  height: 20px;
  z-index: 3;
}
.fa-heart{
  font-size: 26px;
}
/*QUAND LA CHECKBOX EST CHECK*/
input:checked ~ .fa-heart-regular {
  transition-duration: 0.5s;
  opacity: 0;
}

/*QUAND LA CHECKBOX EST CHECK*/
input:checked ~ .fa-heart-solid{
  transition-duration: 0.5s;
  opacity: 1;
}

#container {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.loader{
  animation-name: blank;
  animation-duration: 3s;
  animation-fill-mode: forwards;

}

@keyframes blank {
  0% {
    opacity: 0;
  }
  30%{
    opacity: 0.1%;
  }
  80%{
    opacity: 0.8%;
  }
  100% {
    opacity: 1;
  }
}

@keyframes animation {
  0% {
    stroke-dasharray: 1 98;
    stroke-dashoffset: -105;
    opacity: 1;
  }
  50% {
    stroke-dasharray: 80 10;
    stroke-dashoffset: -160;
    opacity: 0.75;
  }
  100% {
    stroke-dasharray: 1 98;
    stroke-dashoffset: -300;
    opacity: 0;
    display: none;
  }
}

#spinner {
  transform-origin: center;
  animation-name: animation;
  animation-duration: 3s;
  animation-timing-function: cubic-bezier;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  fill:transparent;
  stroke: $colour-secondary;
  stroke-width: 7px;
  stroke-linecap: round;
  filter:url(#shadow);
  
}