.presentation{
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 287px;
    text-align: center;
    padding-bottom: 36px;
    padding-top: 21px;
    &__title{
        margin-top: unset;
        margin-bottom: unset;
        width: 75%;
        font-size: 26px;
    }
    &__text{
        margin-top: unset;
        margin-bottom: unset;
        width: 86%;
        font-size: 18px;
    }

}
.fonctionnement{
    height: 393px;
    &__title{
        margin-top: 48px;
        margin-left: 5%;
        font-size: 27px;
    }

    &__flex{
        display: flex;
        flex-flow: column wrap;
        justify-content: space-evenly;
        align-items: center;
        height: 332px;
    }
    &__card{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 85%;
        
        border-radius: 18px;
        box-shadow: 0px 4px 10px 0px rgb(0 0 0 / 30%);
        border: none;
        padding-right: 15%;
        background-color: #F6F6F6;
        height: 62px;
        &:focus{
            background-color: #f5edff;
            .fonctionnement__image
            {
                color: $colour-primary;
            }
            }
    
    }

    &__image{
        color: gray;
    }
    &__number{
        margin-left: -10px;
        background-color: $colour-primary;
        border-radius: 10px;
        padding-left: 6px;
        padding-right: 7px;
        padding-top: 3px;
        color: $colour-white;
    }

    &__text{
        font-size: 15px;
        font-weight: 600;
    }
}