.background{
    &__image{
        width: 100%;
        z-index: 1;
        position: relative;
    }
}

.menu{
    background-color: $colour-background;
    height: 1196px;
    z-index: 2;
    border-radius: 35px 35px 0px 0px;
    position: relative;
    margin-top: -33px;
    &--height{
        height: 1274px;
    }
    &__title{
        padding-top: 36px;
        margin-left: 6%;
        font-weight: unset;
        font-size: 27px;
    }
    &__contener-title{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__heart{
        margin-top: 33px;
        margin-right: 37px;
    }
}
.starter{
    &__second-title{
        margin-top: 36px;
        margin-left: 5%;
        
    }
    &__seconde-title--secondary{
        margin-top: 29px;
    }
    &__flex{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-top: 10px;
        height: 253px;
    }
    &__flex--secondary{
        margin-top: 16px;
    }
    &__flex--tertiary{
        margin-top: 12px;
    }
    &__flex--more{
        height: 334px;
    }
}
.card{
        height: 71px;
        margin-left: 4%;
        margin-right: 3%;
        border-radius: 17px;
        display: flex;
        padding-top: 10px;
        padding-left: 8px;;
        justify-content: space-between;
        text-align: left;
        background-color: $colour-white;
        border: unset;
        @include menu-shadow;
    
    &__contener{
        display: flex;
        flex-direction: column;
    }
    &__text{
        margin-top: 5px;
    }
    &__price{
        margin-top: 27px;
        margin-right: 19px;
        font-weight: 700;
    }
}
    .commande{
        display: flex;
        justify-content: center;
    }
