.background{
    &__image{
        width: 100%;
        z-index: 1;
        position: relative;
    }
}

.menu{
    background-color: $colour-background;
    height: 1196px;
    z-index: 2;
    border-radius: 35px 35px 0px 0px;
    position: relative;
    margin-top: -33px;
    &__title{
        padding-top: 36px;
        margin-left: 6%;
        font-weight: unset;
        font-size: 27px;
    }
}